h1{
    text-align: center;
}

img{
    border-radius: 10px;
    border: solid 1px; 
}

#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inicio p{
    width: 70%;
    text-align: justify;
}

.card{
    width: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px grey;    
}

.card img{
    width: 100%;
    border-radius: 15px;
}
#cartoes{
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;

}

#musica{
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
}


